In [ ]:
Author: "Babak Badakhshan"
Created: 2024-12-24

In [3]:
import pydeck as pdk
import geopandas as gpd

# Load geospatial data
df = gpd.read_file('250GRIDDED_v2.gpkg')

# Define the new CRS (WGS 1984)
new_crs = 'EPSG:4326'

df = df.to_crs(new_crs)

# Ensure the geometry is in the correct format
def polygon_to_coordinates(x):
  lon, lat = x.exterior.xy
  return [[x, y] for x, y in zip(lon, lat)]

df['coordinates'] = df['geometry'].apply(polygon_to_coordinates)
df.head()

,id,Seconds,Min,minutes,geometry,coordinates
0,1,NaN,0,NaN,"POLYGON ((51.08917 35.56913, 51.09192 35.56913...","[[51.08916599677136, 35.56912960824787], [51.0..."
1,2,NaN,0,NaN,"POLYGON ((51.08917 35.57138, 51.09193 35.57138...","[[51.08916849439285, 35.57138375299207], [51.0..."
2,3,NaN,0,NaN,"POLYGON ((51.08917 35.57364, 51.09193 35.57364...","[[51.08917099229169, 35.57363789689146], [51.0..."
3,4,NaN,0,NaN,"POLYGON ((51.08917 35.57589, 51.09193 35.57589...","[[51.08917349046789, 35.575892039946055], [51...."
4,5,NaN,0,NaN,"POLYGON ((51.08918 35.57815, 51.09194 35.57814...","[[51.0891759889215, 35.57814618215583], [51.09..."

In [35]:
# Define a color mapping function
def color_mapping(category):
  color_dict = { 5: [73, 0, 106],
                 10: [153, 3, 124],
                 15: [224, 62, 152],
                 20: [249, 147, 176],
                 25: [252, 207, 204],
                 30: [255, 247, 243]
  }
  return color_dict.get(category, [0, 0, 0, 0])

# Apply the color mapping function to spatial data
df['color'] = df['Min'].apply(color_mapping)

# Define a PolygonLayer
polygon_layer = pdk.Layer(
    "PolygonLayer",
    df,
    get_polygon="coordinates",
    #get_elevation="Min",
    #elevation_scale = 4,
    get_fill_color='color',
    get_line_color=[229, 229, 229],
    pickable=True,
    auto_highlight=True,
    opacity=0.55,
    wireframe=True

)

# Define the view
view_state = pdk.ViewState(
    latitude=35.70,
    longitude=51.35,
    zoom=10,
    max_zoom=10,
    pitch=0,
    bearing=0
)



# Render the deck
r = pdk.Deck(
    initial_view_state=view_state,
    layers=[polygon_layer],
    map_style='dark'
)


#r.to_html("Tehran_15min.html")